<main class="mdl-layout__content rlv-main">
  <div class="cv-container mdl-grid">
    <ul data-id="list" class="mdl-list rlv-list hidden">

    </ul>

    <div data-id="empty-container" class="hidden demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Mailman</h2>
      </div>
      <div class="mdl-card__supporting-text">
        To get started, click one of the buttons from the lower right hand corner.
      </div>
    </div>

  </div>

  <div class="rlv-button-bar">
    <button id="email-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect rlv-primary-button"
      data-id="email-button">
      <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="email-button">
      New Merge Template
    </div>

  </div>

</main>
