<li class="mdl-list__item mdl-list__item--three-line mdl-shadow--2dp rli-list-item">

  <span class="mdl-list__item-primary-content rli-primary">

    <button data-id="repeat-toggle-mail" class="rli-parent mdl-button mdl-js-button">
      <i class="rli-list-avatar material-icons">mail</i>
      <i data-id="repeat-icon" class="rli-button-popup material-icons">keyboard_return</i>
    </button>
    <div data-id="repeat-label" class="mdl-tooltip mdl-tooltip--right"></div>

    <span data-id="title" class="mdl-typography--title mdl-color-text--grey-600 rli-hide-overflow-text"></span>
  </span>

  <span class="mdl-list__item-secondary-content">
    <button data-id="delete" class="mdl-button mdl-js-button mdl-button--icon rli-clickable rli-delete">
      <i class="material-icons">delete</i>
    </button>
    <div data-id="delete-label" class="mdl-tooltip mdl-tooltip--left">
      Delete
    </div>

    <button data-id="run" class="mdl-button mdl-js-button mdl-button--icon rli-clickable rli-run">
      <i class="material-icons">play_arrow</i>
    </button>
    <div data-id="run-label" class="mdl-tooltip mdl-tooltip--left">
      Run
    </div>

    <button data-id="edit" class="mdl-button mdl-js-button mdl-button--icon rli-clickable rli-edit">
      <i class="material-icons">edit</i>
    </button>
    <div data-id="edit-label" class="mdl-tooltip mdl-tooltip--left">
      Edit
    </div>

    <button data-id="preview" class="mdl-button mdl-js-button mdl-button--icon rli-clickable rli-preview">
      <i class="material-icons">visibility</i>
    </button>
    <div data-id="preview-label" class="mdl-tooltip mdl-tooltip--left">
      Preview
    </div>    
  </span>

  <div data-id="claimed-user" class="rli-claimed-user rli-hide-overflow-text hidden">
    unknown user
  </div>
</li>
