<dialog class="mm-dialog mdl-dialog">
  <h4 data-id="title" class="mdl-dialog__title">Dialog title.</h4>
  <div class="mdl-dialog__content">
    <p data-id="content">
      Content text.
    </p>
  </div>
  <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    <button data-id="confirm" type="button"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">OK</button>
    <button data-id="close" type="button"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</button>
  </div>
</dialog>
