@import "_colors";

$icon-font-size: 24;
$button-color: #FFFFFF;
$text-color: #000000;

@mixin no-select($type) {
    -webkit-touch-callout: $type;
    /* iOS Safari */
    -webkit-user-select: $type;
    /* Chrome/Safari/Opera */
    -khtml-user-select: $type;
    /* Konqueror */
    -moz-user-select: $type;
    /* Firefox */
    -ms-user-select: $type;
    /* Internet Explorer/Edge */
    user-select: $type;
    /* Non-prefixed version, currently not supported by any browser */
}

li {
    a {
        color: #000000;
        text-decoration: none!important; //TODO remove !important
        @include no-select(none);
    }
}

a {
  color: #0088cc;
  text-decoration: underline;
  cursor: auto;
}

.rte-controls {
  // TODO Clean these up
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  background-color: $pantone-2945;
}

.rte-card {
  flex-grow: 1;
  width: inherit;
}

.rte-layout {
  padding: 4px;
  overflow: hidden;
}

.rte-footer {
  background-color: transparent;
}

.dropdown-menu a {
    cursor: pointer;
}

.btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0px 8px;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
}

.imgUpload {
    width: 0;
    height: 0;
    position: absolute;
}
/*
	Font Sizes
	fs represents the font-size attribute; therefore,
	fs-five would be the equivalent to font-size: 5
  This is used in font size selection dropdown.
*/
.fs-One {
    font-size: x-small;
}

.fs-Three {
    font-size: medium;
}

.fs-Five {
    font-size: x-large;
}
/** MDL Overwrites **/
a.mdl-button {
    min-width: inherit;
    padding: 0;
    color: $button-color;
}

.mdl-textfield__label:after {
  background-color: $pantone-2945;
}

.mdl-layout__header {
    background-color: transparent;
    display: inherit;
    box-shadow: none;

    .mdl-layout__header-row {
        height: inherit;
    }
}

.full-text-editor {
    width: 100%;
    padding: 0px 2px;

    .mdl-textfield__input {
        min-height: 300px;
        max-height: 400px;
        overflow: auto;
    }
    .mdl-textfield__label {
      bottom: -20px;
    }
}

.mdl-textfield__input {
    color: $text-color;
}

.rte-button-success {
  width: 72px;

  background: $success-green;
  color: $white;

  &:hover {
    background: $success-green;
    color: $white;
  }
}

// This is for the link menu
.rte-link-container {
  display: inline;
  position: relative;
}
.rte-menu {
  position: absolute;
  right: 0px;

  z-index: 999;

  display: block;
  background: $white;
  margin: 0;
  padding: 10px;;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.rte-link-button {
  float: right;
}

.hidden {
  visibility: hidden;
}

// This is for the active buttons
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #ffffff;
    background-color: #2f96b4;
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
