$icon-font-size: 24;
$button-color: #000000;

@mixin no-select($type) {
  -webkit-touch-callout: $type; /* iOS Safari */
  -webkit-user-select: $type;   /* Chrome/Safari/Opera */
  -khtml-user-select: $type;    /* Konqueror */
  -moz-user-select: $type;      /* Firefox */
  -ms-user-select: $type;       /* Internet Explorer/Edge */
  user-select: $type;           /* Non-prefixed version, currently not supported by any browser */
}

#editor,
#first-editor,
#second-editor {
    max-height: 600px;
    height: 400px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    overflow: auto;
    outline: none;
}

#editor:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

li {
  a {
    color: #000000;
    text-decoration: none!important; //TODO remove !important
    @include no-select(none);
  }
}

.dropdown-menu a {
    cursor: pointer;
}

.btn-group {
    padding: 0px 6px;
}



[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
}

.imgUpload {
    width: 0;
    height: 0;
    position: absolute;
}

/*
	Font Sizes
	fs represents the font-size attribute; therefore,
	fs-five would be the equivalent to font-size: 5
  This is used in font size selection dropdown.
*/
.fs-One {
    font-size: x-small;
}

.fs-Three {
    font-size: medium;
}

.fs-Five {
    font-size: x-large;
}

/** MDL Overwrites **/

.mdl-button {
    text-align: center;
    padding: 2px 0px;
    min-width: inherit;
}

.mdl-js-button .mdl-button {
    text-align: center;
    line-height: 1;
    padding: 0px 0px;
}

.mdl-button {
    height: $icon-font-size;
    color: $button-color;
}

.mdl-js-button {
    min-height: $icon-font-size;
}

.mdl-layout__header {
  background-color: transparent;
}
