#editor,
#first-editor,
#second-editor {
    max-height: 600px;
    height: 400px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 2px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: auto;
    outline: none;
}

#editor:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

.btn-toolbar {
    padding: 6px 0;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.placeholderText {
    color: #777;
}

.imgUpload {
    width: 0;
    height: 0;
    position: absolute;
}

.mdl-button {
    text-align: center;
    line-height: 50%;
    padding: 4px 8px;
}
/*
	Font Sizes
	fs represents the font-size attribute; therefore,
	fs-five would be the equivalent to font-size: 5
  This is used in font size selection dropdown.
*/
.fs-One {
    font-size: x-small;
}

.fs-Three {
    font-size: medium;
}

.fs-Five {
    font-size: x-large;
}
