@import "_colors";

.rlv-list {
  width: 100%;
  margin: 0px;
}

.rlv-main {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.rlv-new-item {
  border: gray;
  border-style: dashed;
  cursor: pointer;
}

.rlv-primary-button {
  margin: 12px;
  background-color: $watermelon;
  color: $white;

  &:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  }
  &:active {
    background-color: $watermelon;
  }
}

.rlv-second-button {
  display: none;

  &:hover {
    background-color: rgba(158,158,158,.2);
  }
}

.rlv-button-bar {
  position: absolute;
  bottom: 10px;
  right: 10px;

  &:hover>.rlv-second-button {
    display: block;
  }
}


.demo-card-wide {
  margin-top: 28px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://drive.google.com/uc?export=view&id=0B7CO9MICkOKgM05EeGdmdExLYkE');
  background-repeat: no-repeat;
  background-position: right;
  background-color: $watermelon;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
