@import "_colors";

.rli-list-item {
  background: $white;
  margin: 10px 0px;
}

.mdl-list__item--three-line {

  .rli-primary {
    display: flex;
    flex-direction: row;
  }
}

.rli-hide-overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  outline: none;
  max-width: 140px;
}

.rli-icon-container {
  overflow: hidden;
  width: 40px;
  margin: 8px;
  height: 40px;
}

.rli-stacked-icon {
  position:relative;
}

.rli-edit {
  color: $icon-gray;
}

.rli-run {
  color: $success-green;
}

.rli-delete {
  color: $watermelon;
}

.rli-clickable {
  cursor: pointer;

  &:hover {
    background-color: rgba(158, 158, 158, .2);
  }
  &:active {
    background-color: rgba(158, 158, 158, .4);
  }
}

// MDL override

.mdl-button {


  .rli-button-popup {
    display: none;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);

    &.rli-repeat {
      display: block;
    }
  }

  .rli-list-avatar {
    font-size: 50px;
    color: #757575;
  }

  &:hover {
    .rli-button-popup {
      display: block;

      &.rli-repeat {
        display: none;
      }
    }
  }

  &.rli-parent {
    height: inherit;
    padding: inherit;
  }
}

.mdl-list__item-primary-content {
    height: inherit !important;
}
.mdl-list__item-secondary-content {
    height: inherit !important;
}
.mdl-list__item--three-line {
    height: inherit !important;
}
