@import "_colors";

.rlv-list {
  width: 100%;
  margin: 0px;
}

.rlv-main {
  margin-top: -41vh;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.rlv-new-item {
  border: gray;
  border-style: dashed;
  cursor: pointer;
}

.rlv-primary-button {
  margin: 12px;
  background: $watermelon;
  color: $white;
}

.rlv-second-button {
  display: none;
}

.rlv-button-bar {
  position: absolute;
  bottom: 10px;
  right: 10px;

  &:hover>.rlv-second-button {
    display: block;
  }
}


.demo-card-wide {
  margin-top: 28px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://drive.google.com/uc?export=view&id=0B7CO9MICkOKgM05EeGdmdExLYkE');
  background-repeat: no-repeat;
  background-position: right;
  background-color: $watermelon;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
