@import "_colors";

.rli-list-item {
  background: $white;
  margin: 10px 0px;
}

.rli-list-avatar {
  margin-right: 16px;
  float: left;
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: $icon-gray;
}

.rli-hide-overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  outline: none;
  max-width: 150px;
}

.rli-list-alt-icon {
  color: $white;
  height: 20px;
  width: 20px;
  font-size: 20px;
  left: 18px;
  bottom: 22px;
  position: relative;
}

.rli-icon-container {
  overflow: hidden;
  width: 60px;
}

.rli-stacked-icon {
  position:relative;
}

.rli-edit {
  color: $icon-gray !important;
}

.rli-run {
  color: $success-green !important;
}

.rli-delete {
  color: $watermelon !important;
}

.rli-clickable {
  cursor: pointer;

  &:hover {
    background-color: rgba(158,158,158,.2);
  }
}

// MDL override

.mdl-list__item-primary-content {
    height: inherit !important;
}
.mdl-list__item-secondary-content {
    height: inherit !important;
}
.mdl-list__item--three-line {
    height: inherit !important;
}
