.hover-text:hover {
    text-decoration: underline;
}

textarea:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}

.branding-below {
    bottom: 56px;
    top: 0;
}

.branding-text {
    left: 7px;
    position: relative;
    top: 3px;
}

.border-bottom {
    border-bottom: 1px solid #cfcfcf;
    margin: 0px 0px 0px 0px
}

.input-full {
    box-sizing: border-box;
    box-shadow: none;
    border: transparent;
    background-color: white;
    font: 13px Arial;
    margin: 4px 0px 4px 0px;
    outline: none;
    padding: 4px 1px 4px 2px;
    resize: none;
    -webkit-box-sizing: border-box;
    width: 60%;
}

.rest-right {
    float: right;
}

.show-text {
    color: #777;
    font-size: 13px;
    padding: 0 8px 0 0;
}

.select-text {
    cursor: pointer;
    -webkit-user-select: none;
}

.blank-textarea {
    resize: none;
    border: hidden;
    width: 100%;
    height: 100%;
    font: 13px Arial;
}

.fixed-button {
    height: 30px;
    padding: 10px 0px 10px 0px;
}


/**** Taken from Google's Addons Stylesheet: ****/


/* <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css"> */

body {
    color: #222;
    font: 13px/18px arial, sans-serif;
    margin: 0;
}


/** Google's Material Icons */


/* Rules for sizing the icon. */

.material-icons.md-11 {
    font-size: 11px;
}

.material-icons.md-13 {
    font-size: 13px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/** End Material Icons */

.sidebar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 12px;
    position: absolute;
    width: 100%;
}

.bottom, .bottom-left, .button-bar {
    bottom: 0;
    position: absolute;
}

.gray, .grey {
    color: #777;
}

.button.disabled, button:disabled, input[type="button"]:disabled, input[type="image"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    background: #fff;
    border: 1px solid #dcdcdc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    opacity: .5;
}

.button, button, input[type="button"], input[type="image"], input[type="reset"], input[type="submit"] {
    background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 0;
    min-width: 72px;
    outline: 0;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}

.button.action, .button.blue, button.action, button.blue, input[type="button"].action, input[type="button"].blue, input[type="submit"].action, input[type="submit"].blue {
    background: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background: -o-linear-gradient(top, #4d90fe, #4787ed);
    background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background: linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}

.button+.button, button+button, input+input {
    margin-left: 12px;
}


/****  Google Icons Styles ****/

.docs-icon-grid {
    left: 0;
    top: -168px;
}


/* Second */

.docs-icon {
    direction: ltr;
    text-align: left;
    height: 21px;
    overflow: hidden;
    vertical-align: middle;
    width: 21px;
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}


/* Bottom-most */

.jfk-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0px;
    padding: 0 8px;
}

.jfk-button-standard {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    color: #333;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.jfk-button-narrow {
    min-width: 34px;
    padding: 0;
}

.waffle-range-selection-button {
    background: transparent!important;
    border: transparent!important;
    cursor: pointer;
    margin: 0 0 0 -13px;
    opacity: .70;
    white-space: nowrap;
}


/****  Google Sheets Conditional Format CSS ****/


/* Apply to range */

.waffle-conditionalformat-range-picker {
    padding: 0 18px 18px 18px;
}

.waffle-conditionalformat-edit-pill-section-label {
    color: #646464;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
    margin-top: 18px;
}

.waffle-conditionalformat-range-wrapper {
    color: #444;
    font-family: Arial;
    font-size: 12px;
}

.waffle-range-selection-container {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    min-width: 20px;
    width: 100%;
    padding: 0px;
}

.waffle-range-selection-container-focus {
    border: 1px solid #4d90fe;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    outline: none
}

.waffle-range-selection-input, .waffle-range-selection-input:focus {
    background: transparent!important;
    border: none!important;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 25px;
    margin: 0;
    outline: none!important;
    padding: 1px 8px!important;
    width: 100%;
}

.waffle-range-selection-button-container {
    overflow: hidden;
    padding: 0 0 0 8px;
    text-align: right;
    width: 21px;
}


/* Override the default addons css */

td.waffle-row {
    padding: 0px;
}


/* Format cells if... */

.waffle-conditionalformat-boolean-condition-picker, .waffle-conditionalformat-gradient-format-picker {
    padding: 0px 18px 18px 18px;
}

.goog-flat-menu-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
    color: #333;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    list-style: none;
    margin: 0 2px;
    min-width: 46px;
    outline: none;
    padding: 0 18px 0 6px;
    text-align: center;
    text-decoration: none;
}

.goog-flat-menu-button:hover {
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-color: #c6c6c6;
    color: #111
}

.waffle-conditionalformat-condition-type-select .jfk-select, .waffle-conditionalformat-condition-date-select .jfk-select {
    margin: 0;
    width: 238px;
}

.waffle-conditionalformat-condition-type-select .goog-flat-menu-button, .waffle-conditionalformat-condition-date-select .goog-flat-menu-button {
    text-align: left;
}

.jfk-select .goog-flat-menu-button-caption {
    overflow: hidden;
    width: 100%;
}

.goog-flat-menu-button-caption {
    vertical-align: top;
    white-space: nowrap;
}

.jfk-select .goog-flat-menu-button-dropdown {
    background: url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) center no-repeat;
    border: none;
    height: 11px;
    margin-top: -4px;
    width: 7px;
}

.goog-flat-menu-button-dropdown {
    border-color: #777 transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    width: 0;
    position: absolute;
    right: 5px;
    top: 12px;
}

.waffle-conditionalformat-arg1 {
    margin: 6px 6px 0 0;
    width: 246px;
}

.jfk-textinput {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}


/* Google DDLs */

.goog-menu {
    z-index: 1003;
}

.goog-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.218s;
    -moz-transition: opacity 0.218s;
    -o-transition: opacity 0.218s;
    transition: opacity 0.218s;
    background: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: none;
    padding: 6px 0;
    position: absolute;
}

.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem {
    position: relative;
    color: #333;
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 6px 8em 6px 30px;
    white-space: nowrap;
}

.goog-menuseparator {
    border-top: 1px solid #ebebeb;
    margin-top: 6px;
    margin-bottom: 6px;
}

.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem {
    position: relative;
    color: #333;
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 6px 8em 6px 30px;
    white-space: nowrap;
}


/* Used for the slide between divs */

.slider {
    width: 300px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    float: left;
    width: 300px;
}

.holder {
    width: 300%;
    padding: 8px 0px 0px 0px;
}


/* Used for the Last Sent Column */


/*Our custom CSS begins below*/

.icon-right {
    border: none;
    height: 11px;
    width: 7px;
    position: absolute;
    right: 21px;
    top: 6px;
}
